.greetings{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    background-color: black;
    color: white;
    width: 1000px;
}

.ItemListContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}