.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.InfoCartItem {
    margin-right: 50px;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
}

.InfoCartItem {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.ButtonCartItem {
    padding: 10 px 15px;
    font-size: 15px;
    background: rgb(220, 10, 10);
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 10px;
    cursor: pointer;
    outline: inherit;
}

.ItemFooterCartItem {
    display: flex;
}